<span class="hidden Method__Data" 
      data-local-delivery-zones="{{ section.settings.postal_code }}" data-MT="{{ section.settings.modal_title }}" data-M1T="{{ section.settings.method1_title }}" data-M1D="{{ section.settings.method1_detail }}"
      data-M1EM="{{ section.settings.method1_error }}" data-M2T="{{ section.settings.method2_title }}" data-M2D1="{{ section.settings.method2_detail1 }}" data-M2D2="{{ section.settings.method2_detail2 }}"
      data-M3T="{{ section.settings.method3_title }}" data-M3D="{{ section.settings.method3_detail }}" data-QAE="{{ section.settings.quick_error }}" data-MSA="{{ section.settings.modal_error }}">
</span>      
{%- if template contains 'product' or template contains 'collection' -%}
  <div class="MethodModal__Container">
    <div id="MethodModal">
      <div class="MethodModal__Close">{% render 'icon' with 'close' %}</div>
      <h2 class="Heading">{{ section.settings.modal_title }}:</h2><br>
      <div class="Method__Selector">
        <div class="Method__Local">
          <h4 class="Heading">{{ section.settings.method1_title }}</h4>
          ({{ section.settings.method1_detail }})
          <input type="text" id="Postalcode" name="postalcode" value="" placeholder="Enter Postal Code">
          <p class="PostAlert">{{ section.settings.method1_error }}</p>
        </div>
        <div class="Method__Pickup">
          <h4 class="Heading">{{ section.settings.method2_title }}</h4>
          ({{ section.settings.method2_detail1 }})
          <br>
          ({{ section.settings.method2_detail2 }})
        </div>
        <div class="Method__Mail">
          <h4 class="Heading">{{ section.settings.method3_title }}</h4>
          {% if settings.method3_detail != blank %}
          ({{ section.settings.method3_detail }})
          {% endif %}
        </div>
      </div>
      <button type="button" class="Button Button--primary Button--filled" id="Method__Confirm">CONFIRM</button>
    </div>
  </div>
{%- endif -%}
  
{% schema %}
  {
    "name": "Method Modal",
    "settings": [
      {
        "type": "header",
        "content": "Delivery Method"
      },
      {
        "type": "textarea",
        "id": "postal_code",
        "label": "Postal Codes",
        "default": "V6A,V6B,V6C,V6E,V6Z,V6G,V6T,V6R,V6K,V6J,V6H,V6S,V6L,V6N,V6M,V6P"
      },
      {
        "type": "header",
        "content": "Delivery Method Info"
      },
      {
        "type": "text",
        "id": "modal_title",
        "label": "Modal Title",
        "default": "Select delivery method"
      },
      {
        "type": "text",
        "id": "method1_title",
        "label": "Method1 Title",
        "default": "Local delivery"
      },
      {
        "type": "text",
        "id": "method1_detail",
        "label": "Method1 Detail",
        "default": "Lower Mainland"
      },
      {
        "type": "text",
        "id": "method1_error",
        "label": "Method1 Error Message(Postal code)",
        "default": "Sorry, your postal code is not in our delivery zone. Please choose another delivery method"
      },
      {
        "type": "text",
        "id": "method2_title",
        "label": "Method2 Title",
        "default": "Pickup In-Store"
      },
      {
        "type": "text",
        "id": "method2_detail1",
        "label": "Store Address1",
        "default": "3433 Commercial Street"
      },
      {
        "type": "text",
        "id": "method2_detail2",
        "label": "Store Address2",
        "default": "859 East Hastings"
      },
      {
        "type": "text",
        "id": "method3_title",
        "label": "Method3 Title",
        "default": "Ship Via Mail"
      },
      {
        "type": "text",
        "id": "method3_detail",
        "label": "Method3 Detail"
      },
      {
        "type": "text",
        "id": "quick_error",
        "label": "Quick Add Error Message",
        "default": "Sorry we can’t ship this item via mail"
      },
      {
        "type": "text",
        "id": "modal_error",
        "label": "Modal Close Error Message",
        "default": "Please select a delivery method"
      },
      {
        "type": "text",
        "id": "shipping_error",
        "label": "Shipping Error Message on PDP",
        "default": "Sorry we can’t ship this item. Please select a different delivery method."
      },
      {
        "type": "text",
        "id": "shipping_only",
        "label": "Shipping only text",
        "default": "Some of the items in your cart are for pickup and delivery only"
      }
    ]
  }
{% endschema %}
  