{%- if template contains 'product' or template contains 'collection' -%}
  <div class="MethodModal__Container">
    <div id="MethodModal">
      <div class="MethodModal__Close">{% render 'icon' with 'close' %}</div>
      <h2 class="Heading">{{ settings.modal_title }}:</h2><br>
      <div class="Method__Selector">
        <div class="Method__Local">
          <h4 class="Heading">{{ settings.method1_title }}</h4>
          ({{ settings.method1_detail }})
          <input type="text" id="PostalCode" name="postalcode" value="" placeholder="Enter Postal Code">
          <p class="PostAlert">{{ settings.method1_error }}</p>
        </div>
        <div class="Method__Pickup">
          <h4 class="Heading">{{ settings.method2_title }}</h4>
          <p>
            <input type="radio" id="address1" name="pickup_radio">
            <label for="address1">({{ settings.method2_detail1 }})</label>
            <br>
            <input type="radio" id="address2" name="pickup_radio">
            <label for="address2">({{ settings.method2_detail2 }})</label>
          </p>
        </div>
        <div class="Method__Mail">
          <h4 class="Heading">{{ settings.method3_title }}</h4>
          {% if settings.method3_detail != blank %}
          ({{ settings.method3_detail }})
          {% endif %}
        </div>
      </div>
      <button type="button" class="Button Button--primary Button--filled" id="Method__Confirm">CONFIRM</button>
    </div>
  </div>
{%- endif -%}
  
{% schema %}
  {
    "name": "Method Modal",
    "settings": [
    ]
  }
{% endschema %}
  